:root {
	--shiki-color-text: theme('colors.white');
	--shiki-token-constant: theme('colors.emerald.300');
	--shiki-token-string: theme('colors.emerald.300');
	--shiki-token-comment: theme('colors.zinc.500');
	--shiki-token-keyword: theme('colors.sky.300');
	--shiki-token-parameter: theme('colors.pink.300');
	--shiki-token-function: theme('colors.violet.300');
	--shiki-token-string-expression: theme('colors.emerald.300');
	--shiki-token-punctuation: theme('colors.zinc.200');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-ctrl-logo {
	display: none !important;
}
.mapbox-logo{
	display: none !important;
}

.flashcards__container {
	max-width: 100%;
	width:100%;
	white-space: nowrap;
	overflow-x: scroll;
	perspective: 150px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.card {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	background: white;
	cursor: pointer;
}

.flashcards {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center center;
	background: #4da6ff;
}